<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 300px;" src={{recipe.imagePath}} alt={{recipe.name}} class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xd-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropdown" >
            <button class="btn btn-primary dropdown-toggle"  appDropdown type="button" data-bs-toggle="dropdown" >
                Manage Recipe
            </button>
            <ul class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);">
                <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>